/* @import '~bootstrap/dist/css/bootstrap.css'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
  margin: 0;
}
